
RewriteEngine on
RewriteCond %{HTTP_HOST} ^m\.lucymodas\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.m\.lucymodas\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/www\.lucymodas\.com\/m\/" [R=301,L]

