<div id="inicio">
	<div class="rotativos" lcm-rotativo>
		<img ng-repeat="r in inicio.rotativos.lista" 
			 ng-src="https://www.lucymodas.com/catalogo/slider/{{ r.nombre }}"
			 ng-click="app.ir(r.enlace)" 
			 alt="{{ r.nombre }}" />
	</div>
	<div class="portadas">
		<h3>PRODUCTOS</h3>
		<span ng-repeat="c in app.categorias.lista" ng-click="app.ir('productos/' + c.id)">
			<img ng-src="https://moie2.lucymodas.com/./uploads/categories/{{ c.filename }}">
			<h4>{{ c.nombre }}</h4>
		</span>
	</div>
</div>
