<section id="preguntas-frecuentes">
	<h1>Preguntas Frecuentes</h1>
	<ul>
		<li>
	        <h4 ng-click="$scope.preguntaActiva = 1"><img src="res/img/flecha.png">¿POR DÓNDE PUEDO HACER MI PEDIDO?</h4>
	        <p ng-show="$scope.preguntaActiva === 1">Haga clic en el recuadro verde ubicado en la parte inferior derecha de nuestra página (CHAT). Por esa vía será atendida en tiempo real por nuestras operadoras. Nuestro horario de atención al cliente es de 9:00 am a 9:00pm.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 2"><img src="res/img/flecha.png">¿CUÁL ES LA COMPRA MÍNIMA?</h4>
	        <p ng-show="$scope.preguntaActiva === 2">Vendemos de una (1) prenda en adelante. Si su compra es de tres (3) prendas el envío es totalmente GRATIS, exceptuando ciudades lejanas de Medellín que solo cancelan la mitad de su costo. Para compras de 1 a 2 prendas el envío es contraentrega.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 3"><img src="res/img/flecha.png">¿TIENEN TIENDA FÍSICA?</h4>
	        <p ng-show="$scope.preguntaActiva === 3">No poseemos tienda física, solo vendemos vía ON-LINE a nivel nacional y realizamos nuestros envíos a través de empresa SERVIENTREGA. Estamos ubicados en Medellín-Antioquia.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 4"><img src="res/img/flecha.png">¿A PARTIR DE CUÁNTAS PRENDAS SE CONSIDERA QUE LA COMPRA ES AL MAYOR?</h4>
	        <p ng-show="$scope.preguntaActiva === 4">Los descuentos para mayoristas son a partir de doce (12) prendas en adelante, iguales o variadas.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 5"><img src="res/img/flecha.png">¿CÓMO SABER QUE NO ES ESTAFA? </h4>
	        <p ng-show="$scope.preguntaActiva === 5">Tenemos más de diez (10) años en el mercado vistiendo a la mujer colombiana, le invitamos a ingresar en nuestra sección testimonios/comentarios para que verifique cada uno de ellos. Asimismo, le informamos que su compra cuenta con nuestro seguro y si por alguna razón el pedido no llega a destino nosotros repondremos el mismo o en su defecto le reembolsaremos el dinero. Por lo tanto comprar en  Lucy Modas es una de las formas más seguras de comprar.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 6"><img src="res/img/flecha.png">¿CUÁLES SON LAS FORMAS DE PAGO?</h4>
	        <p ng-show="$scope.preguntaActiva === 6">El pago puede realizarse mediante consignación por EFECTY o Transferencias electrónicas bancarias (No aceptamos consignaciones en bancos porque acarrean comisiones).</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 7"><img src="res/img/flecha.png">¿EN CUÁNTO TIEMPO LLEGA LA MERCANCÍA?</h4>
	        <p ng-show="$scope.preguntaActiva === 7">La mercancía llega en 24 Hrs a las principales ciudades del país. Para las zonas más retiradas se estima un lapso entre 48-72Hrs hábiles.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 8"><img src="res/img/flecha.png">¿DESPÚES DE REALIZAR EL PAGO QUE TENGO QUE HACER?</h4>
	        <p ng-show="$scope.preguntaActiva === 8">Debe ingresar a la sección “REPORTAR PAGO” de nuestra página web www.lucymodas.com y llenar el formulario con todos los datos. Luego haga clic en reportar pago y cuando el pago sea validado o confirmado en nuestras cuentas bancarias recibirá un mensaje de texto.</p>
	    </li>
	    <li>
	        <h4 ng-click="$scope.preguntaActiva = 9"><img src="res/img/flecha.png">¿REALIZAN CAMBIOS?</h4>
	        <p ng-show="$scope.preguntaActiva === 9">Si, en el caso de que la prenda tenga algún defecto de fabrica o por error de la empresa nosotros costearemos los gastos de envío y en caso de que el cambio sea por talla es el cliente quien corre con los gatos de envío.</p>
	    </li>
	</ul>
</section>