<section id="producto">
    <div class="imagenes">
        <div class="miniaturas">
            <img ng-click="producto.imagen=1" 
                 ng-if="producto.data.productImages[1]"
                 ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[1]['medium']}}"
                 alt="{{ producto.data.codigo }}" 
                 height="100">
            <img ng-click="producto.imagen=2" 
                 ng-if="producto.data.productImages[2]"
                 ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[2]['medium']}}"
                 alt="{{ producto.data.codigo }}" 
                 height="100">
            <img ng-click="producto.imagen=3" 
                 ng-if="producto.data.productImages[3]"
                 ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[3]['medium']}}"
                 alt="{{ producto.data.codigo }}" 
                 height="100">
        </div><!--
        --><div class="grande">
            <div ng-show="producto.imagen === 1">
                <img ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[1]['high']}}" />
             </div>
             <div ng-show="producto.imagen === 2">
                <img ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[2]['high']}}" />
             </div>
             <div ng-show="producto.imagen === 3">
                <img ng-src="http://moie.lucymodas.com:18210/{{producto.data.productImages[3]['high']}}" />
             </div>
        </div>
    </div>
    <div class="datos">
        <span class="codigo">{{ producto.data.tipo }}: <b>{{ producto.data.codigo }}</b></span><!--
        --><span class="tela">Tela: <b>{{ producto.data.tela }}</b></span>

        <span class="talla">Tallas: <b>{{ producto.data.tallas }}</b></span>

        <span class="precio" ng-if="!producto.mayor">
            Precio: <cite>{{ producto.data.precio | currency:"$ " }}</cite> <b>{{ producto.data.precio * (100-producto.data.descuento)/100 | currency:"$ " }}</b> (<img src="res/img/bandera.png" alt="bandera" /> COP)
        </span>
        <span class="precio" ng-if="producto.mayor">
            Precio al detal: <b>{{ producto.data.precio * (100-producto.data.descuento)/100 | currency:"$ " }}</b> (<img src="res/img/bandera.png" alt="bandera" /> COP)
        </span>
        <span class="precio" ng-if="producto.mayor">
            De {{producto.data.cantidad_mayor_1}} a {{producto.data.cantidad_mayor_2}} piezas: <b>{{ producto.data.precio_descuento_mayor:1 | currency:"$ " }}</b> (<img src="res/img/bandera.png" alt="bandera" /> COP)
        </span>
        <span class="precio" ng-if="producto.mayor">
            Desde {{producto.data.cantidad_mayor_2}} piezas: <b>{{ producto.data.precio_descuento_mayor_2 | currency:"$ " }}</b> (<img src="res/img/bandera.png" alt="bandera" /> COP)
        </span>
        <p style="color:red">{{ producto.data.alerta }}</p>
        {{ product | json }}
        <div class="disponibilidad" ng-repeat="disponibilidades in producto.data.disponibilidad">
                <div ng-repeat="d in disponibilidades">
                <label>Disponibilidad <b>{{ d.name }}</b></label>
                <h4>TALLA {{ d.name }}</h4>
                <span>{{ d.color }}</span>
                </div>
        </div>

    </div>
</section>
